html {
  direction: ltr;
}

html, body, #app {
  height: 100%;
  width: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

@import "bootstrap";

@import "components/autocomplete";
@import "components/modal";
@import "components/tooltip";
@import "components/calendar-view";
@import "components/date-picker";