html {
  direction: ltr;
}

html, body, #app {
  height: 100%;
  width: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

@import "bootstrap/scss/bootstrap";

@import "reboot";

@import "helpers/icons";

@import "components/header";
@import "components/autocomplete";
@import "components/select";
@import "components/modal";
@import "components/offcanvas";
@import "components/tooltip";
@import "components/calendar-view";
@import "components/date-picker";
