.invalid-text {
  display: block;
  color: $form-feedback-invalid-color;
}

.form-select-clear {
    position: absolute;
    right: $form-select-indicator-padding;
    background-size: $form-select-bg-size;
}



.dropdown-menu.auto-complete{
    &.showTop{
        top : var(--topPositionSelect)
    }
    &.-mt-1{
        margin-top: -0.25rem;
    }
}
