@import "bootstrap/scss/tooltip";

.datepicker {


    font-size: 14px;

    * {
        user-select: none;
    }

    width: 600px;
    position: relative;


    &__input {
        border-radius: 8px;
        padding: 8px;
        border: 1px solid #ececec;
        text-align: center;
        font-size: 1em;
    }

    &__nationality {
        padding: 10px 0 0 0;
        text-align: center;
        color: #0d6efd;
        font-weight: 600;
        cursor: pointer;
        font-size: 0.9em;
    }

    &__popup {
        position: absolute;
        top: 40px;
        background: #fff;
        //box-shadow: 0 0 10px 4px #f3f3f3;
        width: 100%;
        border-radius: 8px;
        border: 1px solid #ededed;

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0;

            &__arrow {
                font-weight: 600;
                cursor: pointer;
                padding: 0 10px;
                color: #0d6efd;
            }
        }

        .content {
            .box {
                text-align: center;
                width: 50px;
                height: 50px;
                padding: 14px 0;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                transition: background-color ease 0.2s;

                &--same {
                    background: #e1edff;
                }

                &--disable {
                    color: #c9c9c9;
                    cursor: not-allowed;

                    &:hover {
                        background: initial;
                    }
                }
            }

            .days{
                .box{
                    border: 1px solid transparent;
                    cursor: pointer;
                    border-radius: 50px;
                    color: #4c4c4c;
                    font-weight: 600;
                    &:hover {
                        border-color: #0d6efd;
                    }

                    &--active {
                        border: 2px solid #0d6efd;
                    }


                }
            }

            &__header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .box{
                    color: #0d6efd;
                }
            }

            .days {
                &__row {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }
            }
        }
    }
}
