@import "bootstrap/scss/tooltip";

.tooltip {
  position: absolute;

  &-top {
    transform: translate(50%, -100%);
  }

  &-bottom {
    transform: translateX(50%);
  }

  &.show {
    transition: all 0.3s;
  }
}
